.cover__title{
    font-family: Inter;
font-style: normal;
font-weight: 900;
text-align: center;
color: #FFFFFF;
margin: 0;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;

 
}
@media screen and (min-width: 1280px) {
.cover__title{
    font-family: 'Inter', 'Times New Roman', sans-serif;
-webkit-font-smoothing : antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
    font-size: 72px;
line-height: 76px;
width: calc(100% - 624px);
margin-bottom: 32px;
margin-top: 245px;
text-align: center;
}
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .cover__title{
        font-size: 72px;
    line-height: 76px;
    width: calc(100% - 464px);
    margin-top: 195px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover__title{
        font-size: 72px;
    line-height: 76px;
    width: calc(100% - 208px);
    margin-top: 115px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 32px);
        margin-top: 33px;
        margin-bottom: 16px;
    }
}